.active
{
    background-color: rgba(31,122,61, 1);
}
nav .navbar-nav li a, nav .navbar-header a{
    color: white !important;
    font-size: 1.2em; /*Increased Size*/
}
nav .navbar-nav li a:hover{
    background-color: rgba(31,122,61, 1) !important;
}
nav .navbar-header a img
{
    display: inline-block;
    border-radius:5px;
    margin-top:-3px;
}
nav .navbar-header a span
{
    display: inline-block;
    font-family: 'Lobster', cursive;
    font-size: 1.2em; /*Increased Size*/
}
  