<!DOCTYPE html>
<html>
<head>
    <title>Page</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link href="../public/fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/css/all.min.css" rel="stylesheet">

    <link href="../public/stylesheets/style2.css" rel="stylesheet">
    <script src="../public/scripts/script2.js"></script>
</head>
<body>
    <%- include ('partials/header') -%>
    <div class="container">
        <div class="row"> 
            <center>
            <div class="input-group input-group-lg col-lg-9 col-md-9 col-sm-9" >
                <input type="text" placeholder="Type a location/restaurant/cuisine to search" class="form-control search-text"><button class="search-btn form-control"><i class="fas fa-search-location"></i> Search</button>
            </div>
            </center>
        </div>
        <div class="row food">
          <div class ="col-md-1"> LEFT AREA</div>
          <div class="col-md-10">  
              <div class="row">
                  <div class="col-md-4 col-sm-6 def">
                      <div class="card" style="width:100%">
                        <img class="card-img-top yoyo" src="../public/images/punjabi.jpg" height="150px" alt="Card image cap">
                        <div class="overlay">
                            <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"> 
                                <i class="fas fa-chevron-right pl-1 icon-5x hello"></i>
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Punjabi Dhaba</h4>
                            <h6 class="card-text">Punjabi veg/non-veg meals
                            </h6>
                        </div>
                        <div class="card-footer rounded-bottom" >
                            <ul class="list-unstyled list-inline font-small">
                                <li class="list-inline-item pr-2 white-text">
                                <i class="far fa-star"></i>
                                </li>
                                <li class="list-inline-item pr-2">
                                <i class="far fa-star"></i>
                                </li>
                                <li class="list-inline-item pr-2">
                                <i class="far fa-star"></i>
                                </li>
                                <li class="list-inline-item pr-2">
                                <i class="far fa-star"></i>
                                </li>
                                <li class="list-inline-item pr-2">
                                <i class="far fa-star"></i>
                                </li>
                            </ul>
                        </div>
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 def">
                        <div class="card" style="width:100%">
                          <img class="card-img-top yoyo" src="../public/images/Italian.jpg" height="150px" alt="Card image cap">
                          <div class="overlay">
                              <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"> 
                                  <i class="fas fa-chevron-right pl-1 icon-5x hello"></i>
                              </a>
                          </div>
                          <div class="card-body">
                              <h4 class="card-title">Italian Food</h4>
                              <h6 class="card-text">Punjabi veg/non-veg meals
                              </h6>
                          </div>
                          <div class="card-footer rounded-bottom" >
                              <ul class="list-unstyled list-inline font-small">
                                  <li class="list-inline-item pr-2 white-text">
                                  <i class="far fa-star"></i>
                                  </li>
                                  <li class="list-inline-item pr-2">
                                  <i class="far fa-star"></i>
                                  </li>
                                  <li class="list-inline-item pr-2">
                                  <i class="far fa-star"></i>
                                  </li>
                                  <li class="list-inline-item pr-2">
                                  <i class="far fa-star"></i>
                                  </li>
                                  <li class="list-inline-item pr-2">
                                  <i class="far fa-star"></i>
                                  </li>
                              </ul>
                          </div>
                              <hr>
                          </div>
                      </div>
                      <div class="col-md-4 col-sm-6 def">
                        <div class="card" style="width:100%">
                          <img class="card-img-top yoyo" src="../public/images/continental.jpg" height="150px" alt="Card image cap">
                          <div class="overlay">
                              <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"> 
                                  <i class="fas fa-chevron-right pl-1 icon-5x hello"></i>
                              </a>
                          </div>
                          <div class="card-body">
                              <h4 class="card-title">Continental Cuisine</h4>
                              <h6 class="card-text">Punjabi veg/non-veg meals
                              </h6>
                          </div>
                          <div class="card-footer rounded-bottom" >
                              <ul class="list-unstyled list-inline font-small">
                                  <li class="list-inline-item pr-2 white-text">
                                  <i class="far fa-star"></i>
                                  </li>
                                  <li class="list-inline-item pr-2">
                                  <i class="far fa-star"></i>
                                  </li>
                                  <li class="list-inline-item pr-2">
                                  <i class="far fa-star"></i>
                                  </li>
                                  <li class="list-inline-item pr-2">
                                  <i class="far fa-star"></i>
                                  </li>
                                  <li class="list-inline-item pr-2">
                                  <i class="far fa-star"></i>
                                  </li>
                              </ul>
                          </div>
                              <hr>
                          </div>
                      </div>
                <!--/div-->

                <!--div class="row"-->
                    <div class="col-md-4 col-sm-6 def">
                        <div class="card" style="width:100%">
                          <img class="card-img-top yoyo" src="../public/images/mexican.jpg" height="150px" alt="Card image cap">
                          <div class="overlay">
                              <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"> 
                                  <i class="fas fa-chevron-right pl-1 icon-5x hello"></i>
                              </a>
                          </div>
                          <div class="card-body">
                              <h4 class="card-title">Mexican Restaurant</h4>
                              <h6 class="card-text">Punjabi veg/non-veg meals
                              </h6>
                          </div>
                          <div class="card-footer rounded-bottom" >
                              <ul class="list-unstyled list-inline font-small">
                                  <li class="list-inline-item pr-2 white-text">
                                  <i class="far fa-star"></i>
                                  </li>
                                  <li class="list-inline-item pr-2">
                                  <i class="far fa-star"></i>
                                  </li>
                                  <li class="list-inline-item pr-2">
                                  <i class="far fa-star"></i>
                                  </li>
                                  <li class="list-inline-item pr-2">
                                  <i class="far fa-star"></i>
                                  </li>
                                  <li class="list-inline-item pr-2">
                                  <i class="far fa-star"></i>
                                  </li>
                              </ul>
                          </div>
                              <hr>
                          </div>
                      </div>
                      <div class="col-md-4 col-sm-6 def">
                        <div class="card" style="width:100%">
                          <img class="card-img-top yoyo" src="../public/images/mughal.jpg" height="150px" alt="Card image cap">
                          <div class="overlay">
                              <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"> 
                                  <i class="fas fa-chevron-right pl-1 icon-5x hello"></i>
                              </a>
                          </div>
                          <div class="card-body">
                              <h4 class="card-title">Mughalai Food</h4>
                              <h6 class="card-text">Punjabi veg/non-veg meals
                              </h6>
                          </div>
                          <div class="card-footer rounded-bottom" >
                              <ul class="list-unstyled list-inline font-small">
                                  <li class="list-inline-item pr-2 white-text">
                                  <i class="far fa-star"></i>
                                  </li>
                                  <li class="list-inline-item pr-2">
                                  <i class="far fa-star"></i>
                                  </li>
                                  <li class="list-inline-item pr-2">
                                  <i class="far fa-star"></i>
                                  </li>
                                  <li class="list-inline-item pr-2">
                                  <i class="far fa-star"></i>
                                  </li>
                                  <li class="list-inline-item pr-2">
                                  <i class="far fa-star"></i>
                                  </li>
                              </ul>
                          </div>
                              <hr>
                          </div>
                      </div>
                      <div class="col-md-4 col-sm-6 def">
                        <div class="card" style="width:100%">
                          <img class="card-img-top yoyo" src="../public/images/Chinese.jpg" height="150px" alt="Card image cap">
                          <div class="overlay">
                              <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"> 
                                  <i class="fas fa-chevron-right pl-1 icon-5x hello"></i>
                              </a>
                          </div>
                          <div class="card-body">
                              <h4 class="card-title">Chinese Food</h4>
                              <h6 class="card-text">Punjabi veg/non-veg meals
                              </h6>
                          </div>
                          <div class="card-footer rounded-bottom" >
                              <ul class="list-unstyled list-inline font-small">
                                  <li class="list-inline-item pr-2 white-text">
                                  <i class="far fa-star"></i>
                                  </li>
                                  <li class="list-inline-item pr-2">
                                  <i class="far fa-star"></i>
                                  </li>
                                  <li class="list-inline-item pr-2">
                                  <i class="far fa-star"></i>
                                  </li>
                                  <li class="list-inline-item pr-2">
                                  <i class="far fa-star"></i>
                                  </li>
                                  <li class="list-inline-item pr-2">
                                  <i class="far fa-star"></i>
                                  </li>
                              </ul>
                          </div>
                              <hr>
                          </div>
                      </div>
                      <!--/div-->

                      <!--div class="row"-->
                        <div class="col-md-4 col-sm-6 def">
                            <div class="card" style="width:100%">
                              <img class="card-img-top yoyo" src="../public/images/Thai.jpg" height="150px" alt="Card image cap">
                              <div class="overlay">
                                  <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"> 
                                      <i class="fas fa-chevron-right pl-1 icon-5x hello"></i>
                                  </a>
                              </div>
                              <div class="card-body">
                                  <h4 class="card-title">Thai Cuisine</h4>
                                  <h6 class="card-text">Punjabi veg/non-veg meals
                                  </h6>
                              </div>
                              <div class="card-footer rounded-bottom" >
                                  <ul class="list-unstyled list-inline font-small">
                                      <li class="list-inline-item pr-2 white-text">
                                      <i class="far fa-star"></i>
                                      </li>
                                      <li class="list-inline-item pr-2">
                                      <i class="far fa-star"></i>
                                      </li>
                                      <li class="list-inline-item pr-2">
                                      <i class="far fa-star"></i>
                                      </li>
                                      <li class="list-inline-item pr-2">
                                      <i class="far fa-star"></i>
                                      </li>
                                      <li class="list-inline-item pr-2">
                                      <i class="far fa-star"></i>
                                      </li>
                                  </ul>
                              </div>
                                  <hr>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-6 def">
                            <div class="card" style="width:100%">
                              <img class="card-img-top yoyo" src="../public/images/South.jpg" height="150px" alt="Card image cap">
                              <div class="overlay">
                                  <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"> 
                                      <i class="fas fa-chevron-right pl-1 icon-5x hello"></i>
                                  </a>
                              </div>
                              <div class="card-body">
                                  <h4 class="card-title">South Indian Food</h4>
                                  <h6 class="card-text">Punjabi veg/non-veg meals
                                  </h6>
                              </div>
                              <div class="card-footer rounded-bottom" >
                                  <ul class="list-unstyled list-inline font-small">
                                      <li class="list-inline-item pr-2 white-text">
                                      <i class="far fa-star"></i>
                                      </li>
                                      <li class="list-inline-item pr-2">
                                      <i class="far fa-star"></i>
                                      </li>
                                      <li class="list-inline-item pr-2">
                                      <i class="far fa-star"></i>
                                      </li>
                                      <li class="list-inline-item pr-2">
                                      <i class="far fa-star"></i>
                                      </li>
                                      <li class="list-inline-item pr-2">
                                      <i class="far fa-star"></i>
                                      </li>
                                  </ul>
                              </div>
                                  <hr>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-6 def">
                            <div class="card" style="width:100%">
                              <img class="card-img-top yoyo" src="../public/images/food1.jpg" height="150px" alt="Card image cap">
                              <div class="overlay">
                                  <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"> 
                                      <i class="fas fa-chevron-right pl-1 icon-5x hello"></i>
                                  </a>
                              </div>
                              <div class="card-body">
                                  <h4 class="card-title">AKMSB Food Court</h4>
                                  <h6 class="card-text">Punjabi veg/non-veg meals
                                  </h6>
                              </div>
                              <div class="card-footer rounded-bottom" >
                                  <ul class="list-unstyled list-inline font-small">
                                      <li class="list-inline-item pr-2 white-text">
                                      <i class="far fa-star"></i>
                                      </li>
                                      <li class="list-inline-item pr-2">
                                      <i class="far fa-star"></i>
                                      </li>
                                      <li class="list-inline-item pr-2">
                                      <i class="far fa-star"></i>
                                      </li>
                                      <li class="list-inline-item pr-2">
                                      <i class="far fa-star"></i>
                                      </li>
                                      <li class="list-inline-item pr-2">
                                      <i class="far fa-star"></i>
                                      </li>
                                  </ul>
                              </div>
                                  <hr>
                              </div>
                          </div>
                          </div>
            </div>

            <div class ="col-md-1"> RIGHT AREA </div>
        </div>
    </div>        
</body>
</html>
