<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TFO</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div style="margin: 10% 20%;">
        <img src="../public/images/Logo.jpg" style="height:150px ;width: 150px; border-radius: 100%; margin-left: 40%"><br><br>
        <div class="alert alert-info" style="text-align: center;">
            Welcome to Track Food Online. You have to first <strong><a href="Login.php" style="text-decoration:none; color:none;">Login</a></strong>
        </div>
        </div>
    </div>        
</body>
</html>
