<html>
<head>
    <title> Order Page </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="fontawesome-free-5.12.0-web\css\all.css" rel="stylesheet">
    <link href="style4.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <br>
                <center>
                <span id="one" class="badge badge-danger">Danger</span>
                <span id="two" class="badge badge-danger">Danger</span>
                <span id="three"class="badge badge-danger">Danger</span>
                <br>
                <br>
                <span id="four" class="badge badge-danger">Danger</span>
                <span id="five" class="badge badge-danger">Danger</span>
                <span id="six" class="badge badge-danger">Danger</span>
                </center>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-7">
                <div class="orders">
                    <div class="color">
                   <center><span class="a"> Orders Received </span> </center>
                    <hr>
                    </div>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar1">
                    <table class="table table-striped receive table1">
                        <thead>
                          <tr>
                            <th scope="col">Token Id </th>
                            <th scope="col">Items </th>
                            <th scope="col">Delivery Type  </th>
                            <th scope="col">Timing       </th>
                            <th scope="col">Payment Method   </th>
                            <th scope="col">Processed    </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Item 1
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                      <div class="card-body">
                                        Item 1
                                      </div>
                                    </div>
                                  </div>
                            </td>

                            <td>Collect on Counter / Order on Delivery</td>
                            <td>
                                Timings
                            </td>
                            <td>
                                Cash on delivery/ Payment done
                            </td>
                            <td>
                                <input type="checkbox" name="check" value="Delivered">
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>
                                
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          Item 2
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                      <div class="card-body">
                                        Item 2
                                      </div>
                                    </div>
                                  </div>
                            </td>
                            <td>Collect on Counter / Order on Delivery</td>
                            <td>
                                Timings
                            </td>
                            <td>
                                Cash on delivery/ Payment done
                            </td>
                            <td>
                                <input type="checkbox" name="check" value="Delivered">
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                          Item 3
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                      <div class="card-body">
                                        Item 3
                                      </div>
                                    </div>
                                  </div>
                            
                            </td>
                            <td>Collect on Counter / Order on Delivery</td>
                            <td>
                                Timings
                            </td>
                            <td>
                                Cash on delivery/ Payment done
                            </td>
                            <td>
                                <input type="checkbox" name="check" value="Delivered">
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                          Item 3
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                      <div class="card-body">
                                        Item 3
                                      </div>
                                    </div>
                                  </div>
                            
                            </td>
                            <td>Collect on Counter / Order on Delivery</td>
                            <td>
                                Timings
                            </td>
                            <td>
                                Cash on delivery/ Payment done
                            </td>
                            <td>
                                <input type="checkbox" name="check" value="Delivered">
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                          Item 3
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                      <div class="card-body">
                                        Item 3
                                      </div>
                                    </div>
                                  </div>
                            
                            </td>
                            <td>Collect on Counter / Order on Delivery</td>
                            <td>
                                Timings
                            </td>
                            <td>
                                Cash on delivery/ Payment done
                            </td>
                            <td>
                                <input type="checkbox" name="check" value="Delivered">
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                          Item 3
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                      <div class="card-body">
                                        Item 3
                                      </div>
                                    </div>
                                  </div>
                            
                            </td>
                            <td>Collect on Counter / Order on Delivery</td>
                            <td>
                                Timings
                            </td>
                            <td>
                                Cash on delivery/ Payment done
                            </td>
                            <td>
                                <input type="checkbox" name="check" value="Delivered">
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                          Item 3
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                      <div class="card-body">
                                        Item 3
                                      </div>
                                    </div>
                                  </div>
                            
                            </td>
                            <td>Collect on Counter / Order on Delivery</td>
                            <td>
                                Timings
                            </td>
                            <td>
                                Cash on delivery/ Payment done
                            </td>
                            <td>
                                <input type="checkbox" name="check" value="Delivered">
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                          Item 3
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                      <div class="card-body">
                                        Item 3
                                      </div>
                                    </div>
                                  </div>
                            
                            </td>
                            <td>Collect on Counter / Order on Delivery</td>
                            <td>
                                Timings
                            </td>
                            <td>
                                Cash on delivery/ Payment done
                            </td>
                            <td>
                                <input type="checkbox" name="check" value="Delivered">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="orders">
                    <div class="color">
                    <center><span class="a"> Orders Delivered </span> </center>
                    <hr>
                    </div>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar1">
                    <table class="table table-striped receive table2">
                        <thead>
                          <tr>
                            <th scope="col">Token Id</th>
                            <th scope="col">Items</th>
                            <th scope="col">Payment Method</th>
                            <th scope="col">Address</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                           
                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            
                          </tr>
                          
                        </tbody>
                      </table>
                      </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-12 table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-striped table3 ">
                    <thead>
                      <tr>
                        <th scope="col">Token Id</th>
                        <th scope="col">Items</th>
                        <th scope="col">Payment Method</th>
                        <th scope="col">Address</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</body>
</html>