<html>
<head>
    <title> Restaurants </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="fontawesome-free-5.12.0-web\css\all.css" rel="stylesheet">
    <link href="../public/stylesheets/style3.css" rel="stylesheet">
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class= "row">
            <div class="col-lg-3">
                <img class="Jumb" src="../public/images/punjabi.jpg">
            </div>
            <div class="col-lg-5">
                <h2 class="display">Punjabi Dhaba</h2>
                <div>
                    <div class="lead">South Indian, North Indian, Fast Food, Mughlai, Hyderabadi</div>
                    <div class="read">KISHANGARGH, SURATHKAL</div>
                    <br>
                    <div class="stars">
                        <div class="rating">
                            <div class="_4">
                                <span>
                                    <span class="far fa-star"></span>
                                    4.0
                                </span>
                            </div>
                            <div class="_50">
                                <span>50+ Ratings</span>
                            </div>
                        </div>
                        <div class="rating">
                            <div class="_4">
                               <span> 35 mins</span> 
                            </div>
                            <div class="_50">
                                Delivery Time
                            </div>
                        </div>
                        <div class="rating">
                            <div class="_4">
                                <span>₹ 250</span>
                            </div>
                            <div class="_50">
                                Cost for Two
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col-lg-3">
                <img class="any" src="../public/images/trademark.jpeg">
            </div>
        </div>  
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">Left Area</div>
            <div class="col-md-8">

                <div class="row">
                    <div class="col-md-4 def">
                        <div class="card">
                            <div class="view overlay">
                                <img class="card-img-top" src="../public/images/Kulcha1.jpg" alt="Card image cap">
                                <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                                 </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Amritsari Naan</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card'scontent.</p>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 def">
                        <div class="card">
                            <div class="view overlay">
                                <img class="card-img-top" src="../public/images/Sarso1.jpg" alt="Card image cap">
                                <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                                 </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Sarso Ka Saag</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card'scontent.</p>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 def">
                        <div class="card">
                            <div class="view overlay">
                                <img class="card-img-top" src="../public/images/Lassi.jpg" alt="Card image cap">
                                <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                                 </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Dahi Lassi</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card'scontent.</p>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 def">
                        <div class="card">
                            <div class="view overlay">
                                <img class="card-img-top" src="../public/images/Bhature.jpg" alt="Card image cap">
                                <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                                 </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Channa Bhatura</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card'scontent.</p>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 def">
                        <div class="card">
                            <div class="view overlay">
                                <img class="card-img-top" src="../public/images/Puri.jpg" alt="Card image cap">
                                <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                                 </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Puri Chane</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card'scontent.</p>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 def">
                        <div class="card">
                            <div class="view overlay">
                                <img class="card-img-top" src="../public/images/Bheega.jpg" alt="Card image cap">
                                <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                                 </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Amritsari Kulche(Bheege)</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card'scontent.</p>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
                <div class="col-md-2">
                    <div class="right1" style="display:none;">
                                <div class="write">Cart Empty</div>
                                <img src="cute.png" class="cute">
                                <div class="quotes">
                                    Good Food, Good life!
                                </div>
                    </div>
                    <div class="right2">
                        <div class="cart1"> Cart 
                            <div class="cart2"> 1 Item </div>
                        </div>
                        <div class="upper">
                            <div class="pad">
                                <div class="maggie">
                                    <div class="pura">
                                        <div class="naam">
                                            <div class="chhotu">
                                               <img src="https://img.icons8.com/color/16/000000/vegetarian-food-symbol.png">
                                            </div>
                                            <div class="now">
                                                10" Medium Garden Delight Pizza  (Serves 2)
                                            </div>
                                        </div>
                                        <div class="total">
                                            <div class='plus'>
                                                <div class="add anni">ADD</div>
                                                <div class="num">+</div>
                                                <div class="minus">
                                                    –
                                                </div>
                                                <div class="one">1</div>
                                            </div>
                                            <div class="rate">
                                                <span id="q">-</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lower">
                            <div class="lower1">
                                <div class="subtotal">Subtotal</div>
                                <div class>
                                    <span class="rat">Rs 180</span>
                                </div>
                            </div>
                            <div class="extra">
                                Extra Charges Apply
                            </div>
                            <div class=btn class="_1gPB7">Checkout →</div>
                        </div>

                    </div>

                </div>
        </div>
    </div>
</body>
</html>